.cache
.vscode

# gitignore magic to include /build/lib but exclude everything else in /build

!build/lib/
cmake-build-debug
.idea
/bin/libv5_sim_pros.a
/bin/libv5_sim_user.so
/bin/v5_sim_engine
/bin/cygv5_sim_user.dll
/bin/cygv5_sim_pros.dll
/bin/libSDL2_gfx.a
/bin/libv5_sim_pros.dll.a
/bin/libv5_sim_user.dll.a
/bin/v5_sim_engine.exe
/bin/v5_sim_engine.exe.stackdump
/cmake-build-debug-coverage/
